body {
    margin: 0;
    padding: 0;
    font-family: 'Playfair Display', serif;
}

.navbar {
    display: grid;
    grid-template-columns: 100px auto 100px;
    align-items: center;
    height: 60px;
    background: white;

    #logo {
        grid-column: 3;
        justify-self: center;
        height: 50px;
        padding-left: 20px;
    }

    #title {
        grid-column: 2;
        justify-self: center;
        letter-spacing: 5px;
        text-transform: uppercase;
        font-weight: 400;
        font-style: italic;
    }

    .menu-wrap {
        grid-column: 1;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 1;
    }

    .menu-wrap .toggler {
        position: absolute;
        top: 0;
        left: 0;
        z-index: 2;
        cursor: pointer;
        width: 50px;
        height: 50px;
        opacity: 0;
    }

    .menu-wrap .hamburger {
        position: absolute;
        top: 0;
        left: 0;
        z-index: 1;
        width: 20px;
        height: 25px;
        padding: 1rem;
        background: white;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    // Hamburger line

    .menu-wrap .hamburger > div {
        position: relative;
        width: 100%;
        height: 2px;
        background-color: black;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: all 0.4s ease;
    }

        //Top and Bottom lines
    .menu-wrap .hamburger > div:before,
    .menu-wrap .hamburger > div:after {
        content: '';
        position: absolute;
        z-index: 1;
        top: -5px;
        width: 100%;
        height: 2px;
        background: inherit;
    }

        //Moves line down
    .menu-wrap .hamburger > div:after {
        top: 5px;
    }

        // Toggler animate
    .menu-wrap .toggler:checked + .hamburger > div {
        transform: rotate(135deg);
    }

        // Turn lines into X
    .menu-wrap .toggler:checked + .hamburger > div:before,
    .menu-wrap .toggler:checked + .hamburger > div:after {
        top: 0;
        transform: rotate(90deg);
    }

         // Rotate on hovver when checked
    .menu-wrap .toggler:checked:hover + .hamburger > div {
        transform: rotate(225deg);
    }

    // Show menu
    .menu-wrap .toggler:checked ~ .menu {
        visibility: visible;
    }
    .menu-wrap .toggler:checked ~ .menu > div {
        transform: scale(1);
        transition-duration: 1s;
    }
    .menu-wrap .toggler:checked ~ .menu > div > div {
        opacity: 1;
        transition: opacity 0.4s ease;
    }

    .menu-wrap .menu {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        visibility: hidden;
        overflow: hidden;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .menu-wrap .menu > div {
        border-radius: 50%;
        background: rgba(187, 219, 247, 0.5);
        width: 200vw;
        height: 200vh;
        display: flex;
        flex: none;
        align-items: center;
        justify-content: center;
        transform: scale(0);
        transition: all 0.4s ease;
    }

    .menu-wrap .menu > div > div {
        text-align: center;
        max-width: 90vw;
        max-height: 100vh;
        opacity: 0;
        transition: opacity 0.4s ease;

    }
    .menu-wrap .menu > div > div > ul > li {
        font-style: italic;
        list-style: none;
        color: whitesmoke;
        font-size: 1rem;
        padding: 1rem;
    }
    .menu-wrap .menu > div > div > ul > li > a {
        color: inherit;
        text-decoration: none;
        transition: color 0.4s ease;
    }

}


.landing {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 75vh;
    width: 100vw;
    background-image: url("../imgs/about_me/IMG_4139.jpg");
    background-size: cover;
    background-attachment: fixed;
    .title_container {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 75vh;
        width: 60vh;
        background: rgba(187, 232, 247, 0.7);
    }
    .title {
        text-align: center;
        color: white;
        font-size: 5rem;
        font-weight: 900;
    }
}

.aboutme_blurb {
    font-family: 'Montserrat', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    grid-template-columns: repeat(2, 1fr);
    text-align: justify;
    grid-gap: 10px;
    margin: 10px;
    margin-bottom: 50px;
    .blurb_title {
        text-align: center;
        font-size: 2rem;
    }
    #aboutme_blurb1 {
        width: 50%;
        // background: #fcebdf;
        padding: 50px;
        line-height: 30px;
        grid-area: 1 / 1 / 1 / 2;
    }

}

#aboutme_image {
    background-size: cover;
    align-self: center;
    justify-self: center;
    height: 200px;
    width: 200px;
    background-image: url("../imgs/about_me/btm_img.jpg");
    border-radius: 50%;

}

.footer {
    margin-top: 10px;
    font-family: 'Montserrat', sans-serif;
    font-size: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #fcebdf;
    width: 100vw;
    height: 20vh;
}