body {
    font-family: 'Playfair Display', serif;
    margin: 0;
    padding: 0;
}

.navbar {
    display: grid;
    grid-template-columns: 100px auto 100px;
    align-items: center;
    height: 60px;
    background: white;

    #logo {
        grid-column: 3;
        justify-self: center;
        height: 50px;
        padding-left: 20px;
    }

    #title {
        grid-column: 2;
        justify-self: center;
        letter-spacing: 5px;
        text-transform: uppercase;
        font-weight: 400;
        font-style: italic;
    }

    .menu-wrap {
        grid-column: 1;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 1;
    }

    .menu-wrap .toggler {
        position: absolute;
        top: 0;
        left: 0;
        z-index: 2;
        cursor: pointer;
        width: 50px;
        height: 50px;
        opacity: 0;
    }

    .menu-wrap .hamburger {
        position: absolute;
        top: 0;
        left: 0;
        z-index: 1;
        width: 20px;
        height: 25px;
        padding: 1rem;
        background: white;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    // Hamburger line

    .menu-wrap .hamburger > div {
        position: relative;
        width: 100%;
        height: 2px;
        background-color: black;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: all 0.4s ease;
    }

        //Top and Bottom lines
    .menu-wrap .hamburger > div:before,
    .menu-wrap .hamburger > div:after {
        content: '';
        position: absolute;
        z-index: 1;
        top: -5px;
        width: 100%;
        height: 2px;
        background: inherit;
    }

        //Moves line down
    .menu-wrap .hamburger > div:after {
        top: 5px;
    }

        // Toggler animate
    .menu-wrap .toggler:checked + .hamburger > div {
        transform: rotate(135deg);
    }

        // Turn lines into X
    .menu-wrap .toggler:checked + .hamburger > div:before,
    .menu-wrap .toggler:checked + .hamburger > div:after {
        top: 0;
        transform: rotate(90deg);
    }

         // Rotate on hovver when checked
    .menu-wrap .toggler:checked:hover + .hamburger > div {
        transform: rotate(225deg);
    }

    // Show menu
    .menu-wrap .toggler:checked ~ .menu {
        visibility: visible;
    }
    .menu-wrap .toggler:checked ~ .menu > div {
        transform: scale(1);
        transition-duration: 1s;
    }
    .menu-wrap .toggler:checked ~ .menu > div > div {
        opacity: 1;
        transition: opacity 0.4s ease;
    }

    .menu-wrap .menu {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        visibility: hidden;
        overflow: hidden;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .menu-wrap .menu > div {
        border-radius: 50%;
        background: rgba(187, 219, 247, 0.5);
        width: 200vw;
        height: 200vh;
        display: flex;
        flex: none;
        align-items: center;
        justify-content: center;
        transform: scale(0);
        transition: all 0.4s ease;
    }

    .menu-wrap .menu > div > div {
        text-align: center;
        max-width: 90vw;
        max-height: 100vh;
        opacity: 0;
        transition: opacity 0.4s ease;

    }
    .menu-wrap .menu > div > div > ul > li {
        font-style: italic;
        list-style: none;
        color: whitesmoke;
        font-size: 1rem;
        padding: 1rem;
    }
    .menu-wrap .menu > div > div > ul > li > a {
        color: inherit;
        text-decoration: none;
        transition: color 0.4s ease;
    }

}

.homeSlides {
    object-fit: cover;
    width: 100vw;
    max-height: 90vh;
}

.slideshow {
    height: 90vh;
    width: 100px;
}


.projects {
    .des_banner {
        margin-top: 10px;
        font-family: 'Montserrat', sans-serif;
        font-size: 1rem;
        display: flex;
        justify-content: center;
        align-items: center;
        background: #fcebdf;
        width: 100vw;
        height: 20vh;
    }
    .mini_gall {
        margin: 10px;
        display: grid;
        grid-gap: 10px;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(3, 1fr);
        height: 90vh;

        #mini_gall_pic1 {
            display: flex;
            flex-direction: column;
            grid-area: 1 / 1 / 4 / 3;
            background: url("../imgs/mini_gall/1.jpg") no-repeat center;
            background-size: cover;
            justify-content: flex-end;
            align-items: flex-end;

            .info {
                text-align: right;
                margin-right: 40px;
                margin-bottom: 10px;
                font-family: 'Montserrat', sans-serif;
                font-weight: 400;
                color: white;
                font-size: 1.3rem;
                width: 50%;
            }

            .go_to_gall_btn {
                font-family: 'Montserrat', sans-serif;
                font-weight: 900;
                margin-bottom: 40px;
                margin-right: 40px;
                border: 5px solid white;
                // background-color: white;
                color: white;
                padding: 14px 28px;
                font-size: 16px;
                cursor: pointer;
                &:hover {
                    background-color: #fcebdf;
                    color: #bbdbf7
                }
            }
           
        }
        #mini_gall_pic2 {
            display: flex;
            grid-area: 1 / 3 / 2 / 5;
            background: url("../imgs/mini_gall/2.jpg") no-repeat center;
            background-size: cover;
            justify-content: center;
            align-items: center;

            .go_to_abt_me_btn {
                font-family: 'Montserrat', sans-serif;
                font-weight: 900;
                border: 5px solid white;
                color: white;
                padding: 14px 28px;
                font-size: 16px;
                cursor: pointer;
                &:hover {
                    background-color: #fcebdf;
                    color: #bbdbf7
                }
            }
        }
        #mini_gall_pic3 {
            display: flex;
            grid-area: 2 / 3 / 4 / 5;
            background: url("../imgs/mini_gall/3.jpg") no-repeat center;
            background-size: cover;
            justify-content: center;
            align-items: center;
            .info {
                letter-spacing: 0.5rem;
                text-align: center;
                font-family: 'Montserrat', sans-serif;
                font-weight: 400;
                color: white;
                font-size: 1.5rem;
                width: 50%;
            }
        }
    }
}

.des_banner2 {
    margin-top: 10px;
    font-family: 'Montserrat', sans-serif;
    font-size: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #bbdbf7;
    width: 100vw;
    height: 20vh;
    }


.insta {
    padding-top: 50px;
    padding-bottom: 50px;
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
    grid-gap: 10px;
    width: 100vw;
    height: auto;
    .insta_1 {
        display: flex;
        justify-content: center;
        grid-area: 1 / 1 / 1 / 2;
    }
    .insta_2 {
        display: flex;
        justify-content: center;
        grid-area: 1 / 2 / 1 / 3;
        width: 100%;
    }
    .insta_3 {
        display: flex;
        justify-content: center;
        grid-area: 1 / 3 / 1 / 4;
        width: 100%;
    }
}

// About me section

.about_me {
    height: 100vh;
    width: 100vw;

    .background_band {
        display: flex;
        justify-content: space-between;
        background-color: #fcebdf;
        height: 30vh;
        width: 100vw;

        #aboutme_title {
        padding: 130px;
        font-weight: 800;
        font-size: 5rem;
        }
        .aboutme_pic {
            padding: 40px 40px 0px 0px;
            justify-self: flex-end;
            height: 60vh;
        }
    }

    .blurb_container {
        display: flex;
    }
    .aboutme_blurb {
        padding: 40px;
        font-family: 'Montserrat', sans-serif;
        font-weight: 300;
        text-align: justify;
        width: 30vw;
    }
    #aboutme_blurb1 {
        width: 30vw;
    }
    
}

.footer {
    margin-top: 10px;
    font-family: 'Montserrat', sans-serif;
    font-size: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #fcebdf;
    width: 100vw;
    height: 20vh;
}
